// Reset the overflow-x and overflow-y properties that causes position: sticky to not work properly.
html {
  overflow-x: unset;
  overflow-y: unset;
}

// Center the icons with the text within labels.
label {
  @include text-with-icon($marginAmount: $small-space);

  // Add some space between checkboxes and their labels.
  input[type="checkbox"] {
    margin: 0 $small-space 0 0;
  }
}

// Hide the alerts that show for new Discourse instances.
.alert-too-few-topics,
.alert-bootstrap-mode,
.alert-wizard {
  display: none;
}

tbody {
  border-top: 1px solid $color-border-primary;
}
// Don't bold table headers.
th {
  font-weight: normal;
}

tr {
  border-color: $color-border-primary;
}

hr {
  height: 0; // Remove the 1px height that Discourse adds, the hr already has a border-top that gives it a 1px height.
}

// Change the circle avatars to square avatars.
img.avatar {
  border-radius: 0;
}

// Make the max width and padding of the page contents the same as the Blizzard navbar so that they match up visually.
.wrap {
  @include small-browser-width {
    padding: 0;
  }

  max-width: 1600px;
  padding: 0 $header-height;
}

// Main page wrapper. Controls the sizing of all content below the page header.
#main-outlet {
  max-width: $full-max-width; // Reduce this from 1600px
}

// Vertically align the category name and the icon next to it. This is used in multiple places.
.badge-wrapper .badge-category {
  @include text-with-icon;
  font-weight: normal;
}

.badge-wrapper.none {
  display: flex;
}

// Topic status icons. This is used in several places.
.topic-statuses {
  display: inline-flex;
  align-items: center;

  .topic-status {
    padding: 0; // There's already enough padding around each topic status, remove the default padding.
    color: inherit; // For icons that are links and are using the link color. Make it inherit the color instead.
  }
}

// Loading spinner.
.spinner {
  background-image: url("/plugins/discourse-blizzard-themes/images/Button-loading40.png");
  animation: Button-animationSpinner 0.7s steps(20) infinite;
  height: 40px;
  width: 40px;
  border: none;

  &.small {
    @include spinner-size(20px, 1.2s);
  }
}

// Align the button examples to the bottom edge of the div so that it's easier to see the size differences.
.buttons-examples .styleguide-example .rendered {
  @include flex("none");
  align-items: flex-end;
}

// Remove the bottom margin for the button examples so that they align to the bottom edge properly.
.buttons-examples button {
  margin-bottom: 0;
}

// Workaround for iOS10 not allowing buttons to be flex containers
@media all and (max-width: $Navbar-breakpoint-desktop-min) {
  button {
    &:before,
    &:after {
      content: "";
      flex: 1 1 auto;
    }
    .svg-icon {
      display: flex;
      align-self: center;
    }
  }
  .topic-admin-popup-menu,
  .admin-interface {
    button {
      &:before,
      &:after {
        display: none;
      }
    }
  }
}

// Make the category selector dropdown wider so that it more closely resembles how it would look in the compose UI.
.dropdowns-examples .category-combobox {
  width: 430px;
}

// Quotes that are shown in an aside element. Used in the compose UI and on the user profile page, activity tab.
aside.quote {
  // Parent element for the quoted person's icon and username.
  .title {
    @include quote-box;
    border-bottom: none;
    line-height: normal;

    // Quoted person's icon.
    .avatar {
      @include avatar-regular-glow(
        $quote-avatar-image-width,
        $quote-avatar-image-height,
        $quote-avatar-margin-right
      );
    }
  }

  // Quoted post text.
  blockquote {
    border-top: none;
  }
}

@include small-browser-width {
  .post-stream {
    padding-bottom: 3em;
  }
}

// Never display the emails disabled alert
.alert-emails-disabled {
  display: none;
}

// A round circle with a number in it that shows the number of unseen notifications.
.badge-notification {
  color: $color-text; // Change the text color to white from the Discourse default of #ddd.
  font-weight: bold; // Bold the number, at regular weight Open Sans is too anemic to see the number clearly.
  padding: 3px 5px; // Redefine the padding so the number is centered within the circle.
  min-width: 16.5px; // Set a min-width so that really short numbers like "1" will still show a full circle.
  box-sizing: border-box;

  // Hover color needs to be the same as the regular color since you can't go brighter than pure white.
  &:hover {
    color: $color-text;
  }
  &.new-topic {
    color: $Blizzard-blue-base;
  }
  &.unread-posts {
    background-color: $Blizzard-blue-base;
  }
}

.pika-single {
  @include b-box($gradient: true);
  .pika-label {
    background: transparent;
  }
  .pika-button {
    background: transparent;
  }

  .is-selected button {
    color: $color-text-priority-1;
  }
}

.tip {
  @include flex(vertical);
}

// Temporary fix for the heart icon defined in locales and code
// and showing two times as a result
.user-summary-page .top-section .user-stat i.fa-heart {
  display: none;
}

// Hack until the footer allows our format for URL's
.NavbarFooter .NavbarFooter-icon.NavbarFooter-selectorOptionIcon {
  display: none;
}
